{% extends "base.html" %}
{% load humanize %}

{% block title %}Lista de clientes{% endblock %}

{% block content %}

	<div class="row">
		<div class="large-9 columns">
			
			<div class="row">
				<div class="large-12 columns">
					{% if  queries %}
						{% if object_list %}
						<div data-alert class="alert-box info radius">
							Resultados para "{{ request.GET.nombre }}".
							<a href="#" class="close">&times;</a>
						</div>
						{% else %}
						<div data-alert class="alert-box warning radius">
							No se encontro ningún resultado para "{{ request.GET.nombre }}".
							<a href="#" class="close">&times;</a>
						</div>
						{% endif %}
					{% endif %}
					<form action="/clientes/" method="GET">
						<div class="panel">
							
							<div class="row">
								<div class="large-8 columns">
									<div class="row">
										<div class="large-12 columns">
											<input name="nombre" type="search" placeholder="Buscar un cliente...">
										</div>
									</div>
								</div>
								<div class="large-2 columns">
									<select name="ruta">
										<option value="">Rutas</option>
									{% for ruta in rutas %}
										<option value="{{ ruta.id }}">{{ ruta.nombre }}</option>
									{% endfor %}
									</select>
								</div>
								<div class="large-2 columns">
									<button type="submit" class="button postfix">Buscar</button>
								</div>
							</div>

						</div>
					</form>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<table width="100%">
						<thead>
							<tr>
								<th width="50%">Nombre</th>
								<th width="20%">Ciudad</th>
								<th width="10%">E-mail</th>
								<th width="10%">Teléfono</th>
								<th width="10%">Ruta</th>
							</tr>
						</thead>
						<tbody>
							{% for cliente in object_list %}
							<tr>
								<td>{{ cliente.nombre }} {{ cliente.apellidos }}</td>
								<td>{{ cliente.ciudad }}</td>
								<td>{{ cliente.email }}</td>
								<td>{{ cliente.telefono }}</td>
								<td>{{ cliente.ruta }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>

					{% if is_paginated %}
					<ul class="pagination">
						{% if page_obj.has_previous %}
						<li class="arrow">
							<a href="/productos/?{{ queries.urlencode }}&page={{ page_obj.previous_page_number }}">&laquo;</a>
						</li>
						{% else %}
						<li class="arrow unavailable">
							<a href="#">&laquo;</a>
						</li>
						{% endif %}
						{% for num in page_obj.paginator.page_range %}
							{% ifequal num page_obj.number %}
						<li class="current">
							<a href="#">{{ num }}</a>
						</li>
							{% else %}
						<li>
							<a href="?{{ queries.urlencode }}&page={{ num }}">{{ num }}</a>
						</li>
							{% endifequal %}
						{% endfor %}
						{% if page_obj.has_next %}
						<li class="arrow">
							<a href="/productos/?{{ queries.urlencode }}&page={{ page_obj.next_page_number }}">&raquo;</a>
						</li>
						{% else %}
						<li class="arrow">
							<a href="/productos/#">&raquo;</a>
						</li>
						{% endif %}
					</ul>
					{% endif  %}
				</div>
			</div>

		</div>
		<div class="large-3 columns">
			<div class="panel">
				
			</div>
		</div>
	</div>

{% endblock %}