{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
	
	<div class="row">
		<div class="large-9 columns">

			<div class="row">
				<div class="large-3 columns">
					<div class="panel">
						<h4><a href="/nuevo-pedido/" class="fi-page-add"> Nuevo pedido</a></h4>
					</div>
				</div>
				<div class="large-3 columns">
					<div class="panel">
						<h4><a href="/buscar-pedido/" class="fi-page-search"> Buscar pedido</a></h4>
					</div>
				</div>
				<div class="large-3 columns">
					<div class="panel">
						<h4><a href="/productos/" class="fi-list-thumbnails"> Productos</a></h4>
					</div>
				</div>
				<div class="large-3 columns">
					<div class="panel">
						<h4><a href="/clientes/" class="fi-torsos-all"> Clientes</a></h4>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="large-3 columns">
					<div class="panel">
						<h4><a href="/rutas" class="fi-map"> Rutas</a></h4>
					</div>
				</div>
				<div class="large-3 columns">
					<div class="panel">
						<h4><a href="/proveedores/" class="fi-torso-business"> Proveedores</a></h4>
					</div>
				</div>
				<div class="large-3 columns">
				</div>
				<div class="large-3 columns">
				</div>
			</div>
			
		</div>
		<div class="large-3 columns">
			<div class="row">
				<div class="large-12 columns">
					<div class="panel">

						{% if user.is_authenticated %}
						<h5>Bienvenido {{ user.username|capfirst }}</h5>
						<ul class="button-group">
							<li><a href="/admin/" class="button tiny">Ir al administrador</a></li>
							<li><a href="/admin/logout/" class="button tiny">Salir</a></li>
						</ul>
						{% else %}
						<h5>Bienvenido invitado</h5>
						<a href="/admin" class="button tiny">Iniciar sesión</a>
						{% endif %}

						<hr>

						<h5>Productos en reserva</h5>
						<ul>
							{% for producto in object_list %}
							<li>
								<span>{{ producto.nombre }}</span>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}